</style>
</head>
<body>

<header>

</header>
  
<nav>
Navigation bar: <a href="index.html">Home</a> - <a href="pages/about.html">About</a>
  </ul>
</nav>
<p>
<h1>IDroid</h1>  
</p>
Welcome to IDroid
<p>
Use the navigation bar on the top screen to <p>
navigate your way through the site.





</About>

<footer>Site owner: EchoHackCmd </footer>
</About>
</div>

</body>
</html>